.img-height {
    opacity: 0.8;
}


/*Boton*/

.btn {
    width: 100%;
    margin-bottom: 40px;
}

.card-img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-hotel {
    flex: 1 300px;
    padding: 2px 10px 20px 10px;
    margin-top: 20px;
}


/*Footer*/

footer {
    background-color: #343A40;
    height: 140px;
    color: white;
}

.text-footer {
    padding-top: 50px;
}